<link rel="stylesheet" href="app/main/main.css">
<!--Место для левого меню-->
<dm-menu></dm-menu>
<div class="main_content" flex layout="column">
  <md-toolbar layout="row" class="header md-whiteframe-z2">
    <div class="md-toolbar-tools">
      <md-button ng-click="main.toogleNav('left')" class="md-icon-button" aria-label="menu" hide-gt-md>
        <md-icon md-font-library="material-icons">menu</md-icon>
      </md-button>
      <span flex></span>
      <md-button ng-click="main.toogleNav('right')" class="md-icon-button" aria-label="Filter">
        <md-icon md-font-library="material-icons">search</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content flex id="content" class="background" layout>
      <!--Основной контейнер-->
      <md-content flex id="content" layout>
        <ui-view flex layout></ui-view>
      </md-content>
  </md-content> 
</div>
