a {
    text-decoration: none;
}

.background {
    /*background: url("/app/content/images/background.png");*/
    background: rgba(255, 255, 0, .2);
}

body, .under_header, md-content {
    background-color: #EAEAEA;
}

md-toolbar.header {
    color: rgba(255, 255, 255, 0.87);
    height: 5vh;
    background-color: rgb(85, 88, 0);
}

md-content {
    background-color: white;
}

/*md-sidenav  {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(85, 88, 0);
}

md-backdrop, md-sidenav, .header {
    position: fixed!important;
}

md-button {
    color: rgba(255, 255, 255, 0.87);
}*/

.full_width {
    width: 100%;
}

.inner_header {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Trebuchet MS','Helvetica Neue','Lucida Grande',sans-serif!important;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.3em;
}

.inner_sub_header {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Trebuchet MS','Helvetica Neue','Lucida Grande',sans-serif!important;
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.1em;
}

.searchForm {
    background: white;
    margin-left: 20px;
    padding-left: 20px;
    height: 100%;
    display: flex;
}

.searchForm input {
    height: 100%;
    border: none;
    /*color: #314479;*/
}

.searchForm input:focus {
    outline:none;
}

.searchForm .material-icons {
    color: rgb(85, 88, 0);
    font-size: 3em;
    width: 100%;
    height: 100%;
}

.searchForm .md-icon-button {
    margin: 0;
    line-height: 100%;
    height: 100%;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Меню */
.menu-row {
    width: 100%!important;
    padding: 5px;
    margin-left: 0;
    color: #1E2129;
}

.menu-label {
    width: 100%;
    letter-spacing: 2px;
    font-weight: 300;
    letter-spacing: .2em;
    font-size: 1.3em;    
}

.menu-header-label {
    width: 100%;
    letter-spacing: 2px;
    font-weight: 300;
    letter-spacing: .2em;
    font-size: 1.1em; 
    font-weight: bold;
    text-align: right;
    padding: 20px;
    background: rgb(9, 73, 0);
}

.active-row {
    background-color: rgb(105, 105, 0)!important;
    color: white;
}

.active-row:hover {
    background-color: rgba(105, 105, 0, .9)!important;
}

md-sidenav {
    /*position: fixed!important;*/
    height: 100vh;
    width: 300px;
}

md-sidenav md-toolbar {
    background-color: rgb(105, 105, 0)!important;
}
/* Конец Меню */